.App {
  text-align: center;
}

.addItem {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  
}

.inputBox {
  border: 2px solid black;
  border-radius: 5px;
  height: 25px;
  width: 300px;
  background-color: bisque;
  margin-right: 5px;
}

.addButton {
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;  
  background-color: chartreuse
}

.items {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.eachItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.button {
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: coral;
  margin-left: 5px;
}